<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<title>index</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta charset="UTF-8">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet"	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script	src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
#zijinjihua:hover {
	-webkit-animation: ani .4s ease;
	-webkit-animation-fill-mode: forwards;
	filter: blur(.9)}
@-webkit-keyframes ani {from { transform:scale(1.0)} to {transform: scale(1.5)}}
@-o-keyframes ani {from { transform:scale(1.0)} to {transform: scale(1.5)}}
@-moz-keyframes ani {from { transform:scale(1.0)} to {transform: scale(1.5)}}
</style>
</head>
<!-- baseUrl='/view/' -->
<body style="background-color: rgba(0,0,0,.7)">
	<div class="container">

		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center border"
				style="margin-top: 15%">
				<h3 style="color: white">商务系统模块化</h3>
			</div>
		</div>
		<div class="row" style="margin-top: 2%">
			<div class="col-lg-3 col-lg-offset-3">
				<div class="row text-center bg-primary"
					style="height: 100px;line-height: 100px">
					<div id="zijinjihua" style="margin:auto">商务资料平台</div>
				</div>
				<div class="row text-center bg-info"
					style="height: 100px;line-height: 100px">
					<div id="zijinjihua" style="margin:auto">商务成本管理</div>
				</div>
				<div class="row text-center bg-primary"
					style="height: 100px;line-height: 100px">
					<div id="zijinjihua" style="margin:auto">商务策划管理</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="row text-center bg-info"
					style="height: 100px;line-height: 100px">
					<div id="zijinjihua" style="margin:auto">商务资料平台</div>
				</div>
				<div class="row text-center bg-primary"
					style="height: 100px;line-height: 100px">
					<div id="zijinjihua" style="margin:auto">专项策划奖励</div>
				</div>
				<div class="row text-center bg-info"
					style="height: 100px;line-height: 100px">
					<div id="zijinjihua" style="margin:auto">商务其他工具</div>
				</div>
			</div>
		</div>
	</div>
	<script>
        $(function(){
          //  $("div#zijinjihua").animate({width:"50%",height:"50%",},1000,"easeOutBack")
        })
    </script>
</body>

</html>