<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!-- 定义操作user表的sql映射文件CompanyMapper.xml  -->  
<mapper namespace="com.zhoutong.dao.XiangmuDao">  
    <!-- 查找  -->  
    <select id="getX" parameterType="String" resultType="com.zhoutong.model.Xiangmu">
 		 SELECT * FROM xiangmu_ WHERE name_=#{name_} and pwd_=#{pwd_};

    </select>
</mapper>
